source $HOME/.mupweb.secrets

API_HOST=api.meetup.com
API_PROTOCOL=https
ASSET_SERVER_HOST=0.0.0.0
ASSET_SERVER_PORT=8001
DEV_SERVER_HOST=0.0.0.0
DEV_SERVER_PORT=8000
OAUTH_AUTH_URL=https://secure.meetup.com/oauth2/authorize
OAUTH_ACCESS_URL=https://secure.meetup.com/oauth2/access
MUPWEB_OAUTH_KEY=$S_MUPWEB_OAUTH_KEY
MUPWEB_OAUTH_SECRET=$S_MUPWEB_OAUTH_SECRET
COVERALLS_REPO_TOKEN=$S_COVERALLS_REPO_TOKEN
COVERALLS_SERVICE_NAME=$S_COVERALLS_SERVICE_NAME
PHOTO_SCALER_SALT=$S_PHOTO_SCALER_SALT
CSRF_SECRET=$S_CSRF_SECRET
COOKIE_ENCRYPT_SECRET=$S_COOKIE_ENCRYPT_SECRET

alias mup-web="yarn start && yarn run tail"
